body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #c6fbc2;
    padding-left: 50px;
    padding-right: 50px;
    margin: 20px;
}

.book-image {
    margin: 15px 0;
    text-align: left;
}
.book-image img {
    max-width: auto;
    height: 200px;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.book-image img:hover {
    transform: scale(1.05);
}
